* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Amazon Ember", Arial, sans-serif; 
    background-color: #eaeded;
    color: #0f1111;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #131921; 
    padding: 15px 20px;
    color: white;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    border: 1px solid transparent;
    padding: 8px;
    border-radius: 2px;
}

header nav a:hover {
    border-color: #ffffff; 
}


main {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

h1 {
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}


#boxCadastrar {
    background-color: #ffffff;
    width: 100%;
    max-width: 350px; 
    padding: 25px;
    border: 1px solid #d5d9d9; 
    border-radius: 7px;
    box-shadow: 10px 5px 5px black;
}   